# Base de datos
DB_USER=proy2
DB_PASSWORD=secret
DB_NAME=tienda_db
DB_HOST=db
DB_PORT=5432

# Backend
PORT=3000

# Sesión (cambiá este valor por cualquier string largo y aleatorio)
SESSION_SECRET=cambia_esto_por_un_string_secreto_largo
